[submodule "themes/bleak"]
	path = themes/bleak
	url = https://github.com/zephiransas/hugo-theme-bleak.git
[submodule "public"]
	path = public
	url = git@github.com:zephiransas/zephiransas.github.io.git
